div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#center {
    align-items: center;
}

img {
    max-width: 200px;
    border-radius: 10%;
    border: 1px solid black;
}

h2 {
    color: #FF6729;
    text-decoration: underline
}

p {
    text-align: center;
    width: 300px;
}

ul {
    text-align: center;
}